{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "react"
  ],
  "parserOptions": {
    "project": "./tsconfig.json",
    "sourceType": "module",
    "jsxPragma": "h",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": [
    "airbnb",
    "plugin:@typescript-eslint/recommended"
  ],
  "env": {
    "browser": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx"
        ]
      }
    }
  },
  "rules": {
    "react/jsx-filename-extension": [2, { "extensions": [".js", ".jsx", ".tsx"] }],
    "import/extensions": [2, {"ts":  "never"}],
    "import/prefer-default-export": 0
  },
  "ignorePatterns": [
    "webpack.config.js",
    "dist/**",
    "nodeModules/**"
  ]
}
