.root {
    background-color: rgb(249,190,31);
    height: 50px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0px 1px 1px rgb(249,190,31);
    border-radius: 0 0 2px 2px;
    align-items: center;
}

.topBar {
    display: flex;
    flex-direction: row;
    width: 1024px;
    height: 100%;
}

.imageContainer {
    box-sizing: border-box;
    padding-top: 4px;
    padding-bottom: 4px;
}

.imageContainer img {
    max-height: 100%;
}

.cartContainer {
    height: 100%;
    position: relative;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}

.cartIco {
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 1;
    top: 3px;
}

.counter {
    position: absolute;
    right: 10px;
    top: 4px;
    width: 15px;
    height: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 15px;
    border-radius: 50%;
    border: solid thin whitesmoke;
    background-color: white;

}

.authorizeContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    margin-left: 12px;
}

.authorizeButton {
    height: 30px;
    outline: none;
    border: solid thin lightgray;
    border-radius: 4px;
    cursor: pointer;
    background-color: whitesmoke;
}
